button {
    font-size: 2rem;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    transition-duration: 0.3s;
}

button:hover {
    background-color: aquamarine;
    padding: 25px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    justify-self: center;
    font-size: 4rem;
}

a {
    text-decoration: none;
    color: black;
}

main {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 50px;
}

#buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 40px;
}

#gallery {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 30px;
}